@media (min-width: 1281px) {
    .pressCoverage-mySwiper {
        width: 80%;
        height: 400px;
        margin-top: 25px;
    }
    .pressCoverage-mySwiper-slides div{
        width: 100%;
        height: 400px;
    }
    .pressCoverage-mySwiper-slides div img{
        width: 100%;
        height: 400px;
    }
}