@media (min-width: 1281px) {
    .Footer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .Footer-top {
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: row;
        background-image: url('../../../public/images/home/footer_img.jpg');
    }

    .Footer-bottom {
        width: 100%;
        height: 75px;
        background-color: #101010;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    .Footer-top-left {
        width: 33%;
        height: auto;
        padding: 25px 0px 10px 100px;
    }

    .Footer-top-right {
        width: 33%;
        height: auto;
    }


    .Footer-top-left h2 {
        font-size: 24px;
        color: #fff;
        font-weight: 500;
    }

    .Footer-top-left p {
        font-size: 15px;
        color: #FFFFFF;
        line-height: 25px;
    }

    .Footer-top-left img {
        width: 150px;
        height: 50px;
    }


    .Footer-top-right h2 {
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        padding: 15px 0px 0px;
    }

    .Footer-top-right-links ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0px 100px 0px 0px;
        margin: 0;
    }

    .Footer-top-right-links li {
        flex: 1 1 50%;
        box-sizing: border-box;
    }

    .Footer-top-right-links a {
        display: flex;
        align-items: center;
        padding: 15px 0px;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 15px;
        transition: all 0.5s;
    }

    .Footer-top-right-links i {
        margin-right: 5px;
    }

    .Footer-top-right-links a:hover {
        color: #61CE70;
        margin-left: 10px;
    }


    .Footer-bottom-left p {
        font-size: 13px;
        color: #FFFFFF;
        padding: 0px 100px;
    }

    .Footer-bottom-left p a {
        text-decoration: none;
        font-size: 13px;
        color: #61CE70;
    }
}