@media (min-width: 1281px) {
    /* NABET Accredited Sectors */

    .nabetSector {
        width: 100%;
        height: auto;
        margin-bottom: 100px;
    }

    .nabetSector-heading {
        margin: 50px 0px 25px;
    }

    .nabetSector-heading h1 {
        font-size: 30px;
        font-weight: 600;
        color: #81d742;
        text-align: center;
    }

    .nabetSector-text {
        width: 80%;
        height: auto;
        margin: 10px 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    .nabetSector-text p {
        font-size: 15px;
        color: #282828;
    }


    .nabetSector-content {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .nabetSector-content-image {
        width: 25%;
        height: 200px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 20px 0px ;
    }

    .nabetSector-content-image img {
        width: 95%;
        height: 150px;
        transition: all 0.4s;
    }

    .nabetSector-content-image img:hover {
        transform: scale(1.03);
    }

    .nabetSector-content-image a {
        width: 95%;
        height: 50px;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #282828;
    }
}

/* ------------------------------------------------------------------------------------------------------------- */

@media (min-width: 1024px) and (max-width: 1280px) {
    /* NABET Accredited Sectors */

    .nabetSector {
        width: 100%;
        height: auto;
        margin-bottom: 100px;
    }

    .nabetSector-heading {
        margin: 50px 0px 25px;
    }

    .nabetSector-heading h1 {
        font-size: 30px;
        font-weight: 600;
        color: #81d742;
        text-align: center;
    }

    .nabetSector-text {
        width: 80%;
        height: auto;
        margin: 10px 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    .nabetSector-text p {
        font-size: 15px;
        color: #282828;
    }


    .nabetSector-content {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .nabetSector-content-image {
        width: 25%;
        height: 200px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 20px 0px ;
    }

    .nabetSector-content-image img {
        width: 95%;
        height: 150px;
        transition: all 0.4s;
    }

    .nabetSector-content-image img:hover {
        transform: scale(1.03);
    }

    .nabetSector-content-image a {
        width: 95%;
        height: 50px;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #282828;
    }
}

/* ------------------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 1023px) {
    /* NABET Accredited Sectors */

    .nabetSector {
        width: 100%;
        height: auto;
        margin-bottom: 100px;
    }

    .nabetSector-heading {
        margin: 50px 0px 25px;
    }

    .nabetSector-heading h1 {
        font-size: 24px;
        font-weight: 600;
        color: #81d742;
        text-align: center;
    }

    .nabetSector-text {
        width: 80%;
        height: auto;
        margin: 10px 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    .nabetSector-text p {
        font-size: 15px;
        color: #282828;
    }


    .nabetSector-content {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .nabetSector-content-image {
        width: 33%;
        height: 200px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 20px auto ;
    }

    .nabetSector-content-image img {
        width: 95%;
        height: 150px;
        transition: all 0.4s;
    }

    .nabetSector-content-image img:hover {
        transform: scale(1.03);
    }

    .nabetSector-content-image a {
        width: 95%;
        height: 50px;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #282828;
    }
}

/* ------------------------------------------------------------------------------------------------------------- */

@media (min-width: 480px) and (max-width: 767px) {
    /* NABET Accredited Sectors */

    .nabetSector {
        width: 100%;
        height: auto;
        margin-bottom: 100px;
    }

    .nabetSector-heading {
        margin: 50px 0px 25px;
    }

    .nabetSector-heading h1 {
        font-size: 18px;
        font-weight: 600;
        color: #81d742;
        text-align: center;
    }

    .nabetSector-text {
        width: 80%;
        height: auto;
        margin: 10px 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    .nabetSector-text p {
        font-size: 15px;
        color: #282828;
    }


    .nabetSector-content {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .nabetSector-content-image {
        width: 50%;
        height: 200px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 20px auto ;
    }

    .nabetSector-content-image img {
        width: 95%;
        height: 150px;
        transition: all 0.4s;
    }

    .nabetSector-content-image img:hover {
        transform: scale(1.03);
    }

    .nabetSector-content-image a {
        width: 95%;
        height: 50px;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #282828;
    }
}

/* ------------------------------------------------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 479px) {
    /* NABET Accredited Sectors */

    .nabetSector {
        width: 100%;
        height: auto;
        margin-bottom: 100px;
    }

    .nabetSector-heading {
        margin: 50px 0px 25px;
    }

    .nabetSector-heading h1 {
        font-size: 16px;
        font-weight: 600;
        color: #81d742;
        text-align: center;
    }

    .nabetSector-text {
        width: 80%;
        height: auto;
        margin: 10px 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    .nabetSector-text p {
        font-size: 10px;
        color: #282828;
    }


    .nabetSector-content {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .nabetSector-content-image {
        width: 50%;
        height: 175px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 20px auto ;
    }

    .nabetSector-content-image img {
        width: 90%;
        height: 125px;
        transition: all 0.4s;
    }

    .nabetSector-content-image img:hover {
        transform: scale(1.03);
    }

    .nabetSector-content-image a {
        width: 95%;
        height: 50px;
        font-size: 10px;
        font-weight: 600;
        text-decoration: none;
        color: #282828;
    }
}

/* ------------------------------------------------------------------------------------------------------------- */

