@media (min-width: 1281px) {
    .service-client-mySwiper {
        width: 80%;
        height: 200px;
    }
    .service-client-mySwiper-slides{
        width: 20%;
        height: 150px;
    }
    .service-client-mySwiper-slides img{
        width: 150px;
        height: 150px;
        text-align: center;
    }
}

/* ------------------------------------------------------------------------------------------------------------- */

@media (min-width: 1024px) and (max-width: 1280px) {
    .service-client-mySwiper {
        width: 80%;
        height: 200px;
    }
    .service-client-mySwiper-slides{
        width: 20%;
        height: 150px;
    }
    .service-client-mySwiper-slides img{
        width: 100px;
        height: 150px;
        text-align: center;
    }
}

/* ------------------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 1023px) {
    .service-client-mySwiper {
        width: 80%;
        height: 150px;
    }
    .service-client-mySwiper-slides{
        width: 20%;
        height: 150px;
    }
    .service-client-mySwiper-slides img{
        width: 150px;
        height: 150px;
        text-align: center;
    }
}

/* ------------------------------------------------------------------------------------------------------------- */

@media (min-width: 480px) and (max-width: 767px) {
    .service-client-mySwiper {
        width: 80%;
        height: 150px;
    }
    .service-client-mySwiper-slides{
        width: 20%;
        height: 100px;
    }
    .service-client-mySwiper-slides img{
        width: 150px;
        height: 150px;
        text-align: center;
    }
}

/* ------------------------------------------------------------------------------------------------------------- */
@media (min-width: 320px) and (max-width: 479px) {
    .service-client-mySwiper {
        width: 80%;
        height: 150px;
    }
    .service-client-mySwiper-slides{
        width: 20%;
        height: 100px;
    }
    .service-client-mySwiper-slides img{
        width: 200px;
        height: 100px;
        text-align: center;
    }
}