@media (min-width: 1281px) {
    .about-mySwiper {
        width: 80%;
        height: 550px;
        margin-left: auto;
        margin-right: auto;
    }

    .about-mySwiper .about-swiperSlide {
        width: 100%;
        height: 550px;
    }

    .about-mySwiper .about-swiperSlide img {
        width: 100%;
        height: 550px;
    }


    /* Customize navigation buttons */
    .swiper-button-next,
    .swiper-button-prev {
        color: #fff;
        font-size: 10px;
        top: 50%;
        transform: translateY(80%);
    }

    .swiper-button-next {
        right: 10px;
    }

    .swiper-button-prev {
        left: 10px;
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        color: rgb(192, 26, 26);
    }
}