.about {
    width: 100%;
    height: auto;
}

.about-heading {
    font-size: 30px;
    font-weight: 600;
    color: #81d742;
    text-align: center;
}

.about-content {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.about-content-left {
    width: 60%;
    height: auto;
    padding: 0px 50px 0px 0px;
}

.about-content-left h3 {
    font-size: 18px;
    color: #282828;
    font-weight: 600;
}

.about-content-left p {
    font-size: 15px;
    color: #212529;
}

.about-content-left ol li {
    font-size: 15px;
    color: #212529;
}


.about-content-right {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content-right img {
    width: 150px;
    height: 150px;
    margin: 10px;
}



/* Image */

.about-text {
    width: 100%;
    height: 200px;
    background-image: url('../../../public/images/about/Forest-Clearance-Afforestation.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-text-image {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text-image p {
    font-size: 23px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
}


/* Our Expertise */

.about-expertise {
    width: 100%;
    height: auto;
}

.about-expertise-heading {
    margin: 50px 0px;
}

.about-expertise-heading h1 {
    font-size: 24px;
    font-weight: 600;
    color: #81d742;
    text-align: center;
}


.about-expertise-images {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.about-expertise-images-1 {
    width: 30%;
    height: 200px;
    background-image: url('../../../public/images/about/ourExpertise/Surface-water-monitoring.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-expertise-images-2 {
    width: 30%;
    height: 200px;
    background-image: url('../../../public/images/about/ourExpertise/banner_nabet-scaled.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-expertise-images-3 {
    width: 30%;
    height: 200px;
    background-image: url('../../../public/images/about/ourExpertise/Forest-Clearance-Afforestation.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.about-expertise-buttons {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 100px 100px;
}

.about-expertise-buttons a {
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    background-color: #80D642;
    padding: 15px 50px;
}

.about-expertise-buttons a .bi-arrow-right-short {
    font-size: 15px;
    font-weight: 700;
}


/* Board Of Directors */

.about-board {
    width: 100%;
    height: auto;
}

.about-board-heading {
    margin: 50px 0px;
}

.about-board-heading h1 {
    font-size: 24px;
    font-weight: 600;
    color: #81d742;
    text-align: center;
}

.about-board-content {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 100px; */
    padding: 0px 0px 50px;
}

.about-board-content-image {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-board-content-image figure img {
    width: 250px;
    height: 300px;
}

.about-board-content-image h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #80D642;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", Sans-serif;
}

.about-board-content-image p {
    text-align: center;
    font-size: 16px;
    color: #212529;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", Sans-serif;
}



/* EIA Co-Ordinators */

.about-eia {
    width: 100%;
    height: auto;
}

.about-eia-heading {
    margin: 50px 0px 0px;
}

.about-eia-heading h1 {
    font-size: 24px;
    font-weight: 600;
    color: #81d742;
    text-align: center;
}

.about-eia-content {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.about-eia-content-image {
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.about-eia-content-image figure {
    width: 250px;
    height: 250px;
}

.about-eia-content-image figure img {
    width: 250px;
    height: 250px;
}

.about-eia-content-image div {
    width: 250px;
    height: 250px;
    text-align: center;
}

.about-eia-content-image div h3 {
    font-size: 17px;
    font-weight: 600;
    color: #282828;
}

.about-eia-content-image div p {
    font-size: 12px;
    color: #282828;
}



/* Functional Area Experts */

.about-funtionalArea {
    width: 100%;
    height: auto;
}

.about-funtionalArea-heading {
    margin: 0px;
}

.about-funtionalArea-heading h1 {
    font-size: 24px;
    font-weight: 600;
    color: #81d742;
    text-align: center;
}

.about-funtionalArea-content {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 100px;
}

.about-funtionalArea-content-image {
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}

.about-funtionalArea-content-image figure {
    width: 200px;
    height: 300px;
}

.about-funtionalArea-content-image figure img {
    width: 200px;
    height: 300px;
}

.about-funtionalArea-content-image div {
    width: 200px;
    height: 50px;
    text-align: center;
}

.about-funtionalArea-content-image div h3 {
    font-size: 17px;
    font-weight: 600;
    color: #282828;
    margin: 0px;
    padding: 0px;
}

.about-funtionalArea-content-image div p {
    font-size: 14px;
    color: #282828;
    margin: 0px;
    padding: 0px;
}


/* Project Management Cell */

.about-projectManagement {
    width: 100%;
    height: auto;
}

.about-projectManagement-heading {
    margin: 0px;
}

.about-projectManagement-heading h1 {
    font-size: 24px;
    font-weight: 600;
    color: #81d742;
    text-align: center;
}

.about-projectManagement-content {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 50px;
}

.about-projectManagement-content-image {
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}

.about-projectManagement-content-image figure {
    width: 150px;
    height: 250px;
}

.about-projectManagement-content-image figure img {
    width: 150px;
    height: 250px;
}

.about-projectManagement-content-image div {
    width: 150px;
    height: 50px;
    text-align: center;
}

.about-projectManagement-content-image div h3 {
    font-size: 17px;
    font-weight: 600;
    color: #282828;
    margin: 0px;
    padding: 0px;
}

.about-projectManagement-content-image div p {
    font-size: 14px;
    color: #282828;
    margin: 0px;
    padding: 0px;
}



/* Gallery */

.about-gallery {
    width: 100%;
    height: auto;
}

.about-gallery-heading {
    margin: 0px 0px 50px;
}

.about-gallery-heading h1 {
    font-size: 24px;
    font-weight: 600;
    color: #81d742;
    text-align: center;
}

.about-gallery-content{
    margin: 50px;
}