@media (min-width: 1281px) {
    /* Group Vocational Training Centre */

    .groupVocational {
        width: 100%;
        height: auto;
        margin-bottom: 100px;
    }

    .groupVocational-heading {
        margin: 50px 0px;
    }

    .groupVocational-heading h1 {
        font-size: 30px;
        font-weight: 600;
        color: #81d742;
        text-align: center;
        font-family: "Open Sans", sans-serif;
    }

    .groupVocational-content {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-left: auto;
        margin-right: auto;
    }

    .groupVocational-content-left {
        width: 50%;
        height: auto;
    }

    .groupVocational-content-left img {
        width: 90%;
        height: 500px;
    }

    .groupVocational-content-right {
        width: 50%;
        height: auto;
    }

    .groupVocational-content-right p {
        font-size: 15px;
        color: #212529;
        text-align: justify;
        font-family: "Muli", Sans-serif;
        line-height: 25px;
        letter-spacing: 0.2px;
    }


    .groupVocational-videogroup {
        margin: 20px auto;
    }

    .groupVocational-videos {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 50px auto;
    }

    .groupVocational-videos-left {
        width: 50%;
        height: 300px;
    }

    .groupVocational-videos-right {
        width: 50%;
        height: 300px;
    }

    /* Video Playing */
    .video-placeholder {
        width: 95%;
        height: 275px;
        position: relative;
        margin: 0px;
        padding: 0px;
    }

    .video-thumbnail {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 68px;
        height: 48px;
        cursor: pointer;
    }

    .video-title {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .video-player {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .video-player iframe {
        width: 95%;
        height: 275px;
    }


    /* Carousel */
    .groupVocational-carousel {
        margin: 0px 0px 50px;
    }
}

/* ------------------------------------------------------------------------------------------------------------- */

@media (min-width: 1024px) and (max-width: 1280px) {
    /* Group Vocational Training Centre */

    .groupVocational {
        width: 100%;
        height: auto;
        margin-bottom: 100px;
    }

    .groupVocational-heading {
        margin: 50px 0px;
    }

    .groupVocational-heading h1 {
        font-size: 30px;
        font-weight: 600;
        color: #81d742;
        text-align: center;
        font-family: "Open Sans", sans-serif;
    }

    .groupVocational-content {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-left: auto;
        margin-right: auto;
    }

    .groupVocational-content-left {
        width: 50%;
        height: auto;
    }

    .groupVocational-content-left img {
        width: 90%;
        height: 450px;
    }

    .groupVocational-content-right {
        width: 50%;
        height: auto;
    }

    .groupVocational-content-right p {
        font-size: 15px;
        color: #212529;
        text-align: justify;
        font-family: "Muli", Sans-serif;
        line-height: 25px;
        letter-spacing: 0.2px;
    }


    .groupVocational-videogroup {
        margin: 20px auto;
    }

    .groupVocational-videos {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 50px auto;
    }

    .groupVocational-videos-left {
        width: 50%;
        height: 300px;
    }

    .groupVocational-videos-right {
        width: 50%;
        height: 300px;
    }

    /* Video Playing */
    .video-placeholder {
        width: 95%;
        height: 275px;
        position: relative;
        margin: 0px;
        padding: 0px;
    }

    .video-thumbnail {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 68px;
        height: 48px;
        cursor: pointer;
    }

    .video-title {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .video-player {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .video-player iframe {
        width: 95%;
        height: 225px;
    }


    /* Carousel */
    .groupVocational-carousel {
        margin: 0px 0px 50px;
    }
}

/* ------------------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 1024px) {
    /* Group Vocational Training Centre */

    .groupVocational {
        width: 100%;
        height: auto;
        margin-bottom: 100px;
    }

    .groupVocational-heading {
        margin: 50px 0px;
    }

    .groupVocational-heading h1 {
        font-size: 24px;
        font-weight: 600;
        color: #81d742;
        text-align: center;
        font-family: "Open Sans", sans-serif;
    }

    .groupVocational-content {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-left: auto;
        margin-right: auto;
    }

    .groupVocational-content-left {
        width: 100%;
        height: auto;
    }

    .groupVocational-content-left img {
        width: 100%;
        height: 350px;
    }

    .groupVocational-content-right {
        width: 100%;
        height: auto;
    }

    .groupVocational-content-right p {
        font-size: 14px;
        color: #212529;
        text-align: justify;
        font-family: "Muli", Sans-serif;
        line-height: 25px;
        letter-spacing: 0.2px;
    }


    .groupVocational-videogroup {
        margin: 20px auto;
    }

    .groupVocational-videos {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 50px auto;
    }

    .groupVocational-videos-left {
        width: 100%;
        height: 300px;
    }

    .groupVocational-videos-right {
        width: 100%;
        height: 300px;
    }

    /* Video Playing */
    .video-placeholder {
        width: 95%;
        height: 275px;
        position: relative;
        margin: 0px;
        padding: 0px;
    }

    .video-thumbnail {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 68px;
        height: 48px;
        cursor: pointer;
    }

    .video-title {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .video-player {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .video-player iframe {
        width: 90%;
        height: 250px;
    }


    /* Carousel */
    .groupVocational-carousel {
        margin: 0px 0px 50px;
    }
}

/* ------------------------------------------------------------------------------------------------------------- */

@media (min-width: 480px) and (max-width: 767px) {
    /* Group Vocational Training Centre */

    .groupVocational {
        width: 100%;
        height: auto;
        margin-bottom: 100px;
    }

    .groupVocational-heading {
        margin: 50px 0px;
    }

    .groupVocational-heading h1 {
        font-size: 18px;
        font-weight: 600;
        color: #81d742;
        text-align: center;
        font-family: "Open Sans", sans-serif;
    }

    .groupVocational-content {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-left: auto;
        margin-right: auto;
    }

    .groupVocational-content-left {
        width: 100%;
        height: auto;
    }

    .groupVocational-content-left img {
        width: 100%;
        height: 250px;
    }

    .groupVocational-content-right {
        width: 100%;
        height: auto;
    }

    .groupVocational-content-right p {
        font-size: 12px;
        color: #212529;
        text-align: justify;
        font-family: "Muli", Sans-serif;
        line-height: 25px;
        letter-spacing: 0.2px;
    }


    .groupVocational-videogroup {
        margin: 20px auto;
    }

    .groupVocational-videos {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 50px auto;
    }

    .groupVocational-videos-left {
        width: 100%;
        height: 250px;
    }

    .groupVocational-videos-right {
        width: 100%;
        height: 250px;
    }

    /* Video Playing */
    .video-placeholder {
        width: 95%;
        height: 200px;
        position: relative;
        margin: 0px;
        padding: 0px;
    }

    .video-thumbnail {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 68px;
        height: 48px;
        cursor: pointer;
    }

    .video-title {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .video-player {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .video-player iframe {
        width: 95%;
        height: 200px;
    }


    /* Carousel */
    .groupVocational-carousel {
        margin: 0px 0px 50px;
    }
}

/* ------------------------------------------------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 479px) {
    /* Group Vocational Training Centre */

    .groupVocational {
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    .groupVocational-heading {
        margin: 50px 0px;
    }

    .groupVocational-heading h1 {
        font-size: 16px;
        font-weight: 600;
        color: #81d742;
        text-align: center;
        font-family: "Open Sans", sans-serif;
    }

    .groupVocational-content {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-left: auto;
        margin-right: auto;
    }

    .groupVocational-content-left {
        width: 100%;
        height: auto;
    }

    .groupVocational-content-left img {
        width: 100%;
        height: 200px;
    }

    .groupVocational-content-right {
        width: 100%;
        height: auto;
    }

    .groupVocational-content-right p {
        font-size: 10px;
        color: #212529;
        text-align: justify;
        font-family: "Muli", Sans-serif;
        line-height: 25px;
        letter-spacing: 0.2px;
    }


    .groupVocational-videogroup {
        margin: 20px auto;
    }

    .groupVocational-videos {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 50px auto;
    }

    .groupVocational-videos-left {
        width: 100%;
        height: 200px;
    }

    .groupVocational-videos-right {
        width: 100%;
        height: 200px;
    }

    /* Video Playing */
    .video-placeholder {
        width: 100%;
        height: 175px;
        position: relative;
        margin: 0px;
        padding: 0px;
    }

    .video-thumbnail {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 68px;
        height: 48px;
        cursor: pointer;
    }

    .video-title {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .video-player {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .video-player iframe {
        width: 100%;
        height: 175px;
    }


    /* Carousel */
    .groupVocational-carousel {
        margin: 0px 0px 50px;
    }
}

/* ------------------------------------------------------------------------------------------------------------- */

