@media (min-width: 1281px) {
    .services {
        width: 100%;
        height: auto;
    }

    .services-heading {
        margin: 50px 0px;
    }

    .services-heading h1 {
        font-size: 30px;
        font-weight: 600;
        color: #81d742;
        text-align: center;
    }

    .services-content {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 0px 50px;
        text-align: center;
    }

    .services-content-image {
        width: 200px;
        height: 150px;

        opacity: 0;
        transition: transform 1s ease-out, opacity 1s ease-out;
        will-change: transform, opacity;        
    }

    .services-content-image img {
        width: 200px;
        height: 125px;
    }

    .services-content-image a {
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        color: #282828;
    }


    /* Service Image Animation */

    .services-content-image[data-direction="top"] {
        transform: translateY(-100%);
    }

    .services-content-image[data-direction="right"] {
        transform: translateX(100%);
    }

    .services-content-image[data-direction="left"] {
        transform: translateX(-100%);
    }

    .services-content-image[data-direction="bottom"] {
        transform: translateY(100%);
    }

    .services-content-image.in-view {
        opacity: 1;
        transform: translate(0, 0);
    }


    /* Trusted Clients */
    .services-clients {
        width: 100%;
        height: auto;
    }

    .services-clients-heading {
        margin: 50px 0px 0px;
    }

    .services-clients-heading h1 {
        font-size: 30px;
        font-weight: 600;
        color: #81d742;
        text-align: center;
    }

    .services-clients-content {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
}